#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}
input {
    background: grey;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 999;
}
.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}
img:hover {
    transform: scale(0.9);
}
